/* Unrelated to chessground; only for the examples page */

body {
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a 116px);
  color: #b0b0b0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

a {
  color: #cccccc;
  text-decoration: none;
}

select, input {
  width: 90px;
  margin: 10px;
  background-color: black;
  color: #cccccc;
}

#chessground-examples {
  margin: 30px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#chessground-examples section {
  display: inline-block;
  background: #404040;
  padding: 10px 12px 10px 12px;
  border-radius: 3px;
  margin: 2px 2px;
}

#chessground-examples section p {
  text-align: center;
  margin: 20px 0 0 0;
}

#chessground-examples control {
  margin-left: 20px;
}


.inputs {
  background-color: #222;
  border-radius: 3px;
  padding: 5px;
  margin: 2px 2px;
}
